body {
	display:table; 
	width: 100%;
	font-family: 'Oxygen', sans-serif !important;
}

#logo {
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: bold;
}

p {
	color: #333;
	font-weight: 100;
	margin: 0;
}

#container {
	width: 100%;
	display:table-row;
	vertical-align: middle;
}

section#upload {
	margin-top: 20px;
}

.button {
	font-weight: 100;
	font-family: 'Oxygen', sans-serif !important;
	text-shadow: 1px 1px 4px #333;
	border-radius: 15px !important;
	border-bottom: 5px solid #007095;
	outline: 0 !important;
}

.button:hover {
	background: #008cba;
}
.button:active {
	border-bottom: 2px solid #007095;
	position: relative;
	top: 3px;
}

.button[disabled], button[disabled]:active, button[disabled]:hover {
	background: #ff0000 !important;
	border: 1px solid;
	top: 0px;
}

input[type="file"] {
	display: none;
}

#shareLink {
	margin: 10px;
	font-weight: bold;
	color: #007095;
}

.warning {
	color: #f04124;
}

footer p {
	font-size: 0.8em;
}

